.about {
    position: absolute;
    margin: auto;
    margin-top: 5%;
    width: 55%;
}

.about>h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;
    border-bottom: 1px solid black;
}